*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EBECF0;
}
.seccion-general{
    width: 210mm;
    height: 397mm;
    background-color: white;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}

.seccion-general .parte-izquierda{
    width: 40%;
    height: 100%;
    background-color: #F4F4F4;
    padding: 2.8rem;
}
.parte-izquierda .caja-foto{
    margin-bottom: 2.2rem;
}
.parte-izquierda .caja-foto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1rem solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.titulo{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0.6rem;
    background-color: #444440;
    color: rgb(255, 235, 120);
    text-align: center;
    margin: 1.4rem 0;
}
.contacto-caja{
    margin-bottom: 2.1rem;
}

.contacto-texto a{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem; 
    text-decoration: none;
    color: rgb(120, 120, 120);
    font-weight: bold;
}

.contacto-caja .contacto-lista{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    color: #444440;
    font-size: 1rem;
}
.educación-caja{
    margin-bottom: 2.2rem;
    font-family: 'Lato', sans-serif;
}

.educación-caja .curso{
    margin-bottom: 1rem;
    color: #414042;
}

.educación-caja .educación-titulo{
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: .3rem;
}
.educación-caja .colegio-nombre{
    margin-bottom: 0.3rem;
    font-weight: 600;
    
}
.educación-caja .educación-fecha{
    font-size: 0.9rem;
}
.Habilidades-caja .habilidad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
    font-family: 'Lato', sans-serif;
}
.Habilidades-caja .habilidad .habilidad-derecha .barrita-porcentaje{
    background-color: #BBBBBB;
    height:0.4rem;
    width: 7rem;
    border-radius: 0.4rem;
}
.Habilidades-caja .habilidad .habilidad-derecha .barrita{
    background-color: #3D3D3D;
    height: 100%;
    border-radius: inherit;
}








.links-caja .listalinks{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    color: #444440;
    font-size: 1rem;
}

.links-texto{
    padding-bottom: 1rem;
}

.parte-derecha{
    padding: 2.8rem;
}

.parte-derecha .encabezado{
    font-family: 'Open Sans', sans-serif; 
    color: #4D4D4F;
    margin-bottom: 2.2rem;
}

.parte-derecha .encabezado .nombre{
    font-size: 4rem;
}

.parte-derecha .encabezado .apellido{
    font-size: 4em;
    font-weight: 400;
    margin-top: -1rem;
}
.parte-derecha .encabezado .posicion{
    letter-spacing: 0.3rem;
    margin-top: -0.5rem;
    font-size: 1.1rem;
}
.trabajo-caja{
    margin-top: 5rem;
    font-family: 'Lato', sans-serif;
}

.trabajo-caja .trabajo:not(:last-child){
    margin-bottom: 2rem;
}
.trabajo-caja .trabajo .fecha-trabajo{
    display: flex;
    justify-content: space-between;
    color: #4D4D4F;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}
.trabajo-caja .trabajo .nombre-empresa{
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #4D4D4F;
}
.trabajo-caja .trabajo .texto-trabajo{
    color: #737373;
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1rem;
}

.referencia-caja .referencias{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: 'Lato', sans-serif;
    color: #4D4D4F;
}
.referencia-caja .referencias .nombre{
    font-weight: 800;
    font-size: 1.1rem;
}

.referencia-caja .referencias .nombre-empresa{
    margin: 0.5rem 0;
    font-size: 0.9rem;
}
.referencia-caja .referencias .celular{
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: #414042;
}
.referencia-caja .referencias .celular p{
    margin: 0.4rem 0;
}
.referencia-caja .referencias .celular .texto-celular{
    font-weight: 600;
}
.texto-derecha{
    text-align: left;
}

@media (max-width: 576px){
    .seccion-general .parte-izquierda{
        width: 20%;
        height: 100%;
        background-color: #F4F4F4;
        padding: 0.20rem;
    }

    .titulo{
        font-size: 3mm;
    }

    .contacto-caja{
        margin-bottom: 2.1rem;
        font-size: 0.3em;
    }

    .educación-caja{
        margin-bottom: 2.0rem;
        font-family: 'Lato', sans-serif;
        font-size: 3mm;
    }
    
    .educación-caja .curso{
        margin-bottom: 1rem;
        color: #414042;
        font-size: 3mm;
    }
    
    .educación-caja .educación-titulo{
        font-size: 0.80rem;
        font-weight: 800;
        margin-bottom: .3rem;
    }
    
    .Habilidades-caja .habilidad{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.6rem;
        font-family: 'Lato', sans-serif;
    }
    .Habilidades-caja .habilidad .habilidad-derecha .barrita-porcentaje{
        background-color: #BBBBBB;
        height: 0.4rem;
        width: 4rem;
        border-radius: 0.4rem;
    }
    .Habilidades-caja .habilidad .habilidad-derecha .barrita{
        background-color: #3D3D3D;
        height: 100%;
        border-radius: inherit;
    }

    .seccion-general .parte-derecha{
        width: 40%;
        height: 100%;
        background-color: #F4F4F4;
        padding: 0.20rem;
    }

}